/*------------------------------------*\
    $BLOCKS
\*------------------------------------*/
.block{
	width: 100%;
    display: inline-block;
    position: relative;
}

.block-hero {
    @include span(full nest);
    text-align: center;
    
    img{
       width: 100%;
    }
}

.case-studies{
	.block-inset{
        @include span(12 of 12);
        overflow: hidden;

        @include breakpoint($bp-med) {
    		@include span(4 of 12);
            &:nth-of-type(3n+1){
                clear: both;
            }
        }
	}
}

// .b-thumb {
//      img {
//         margin-bottom: rhythm(2);
//      }
//  }
