/*------------------------------------*\
    $HEADER
\*------------------------------------*/

.logo{
	@include span(6 of 12 nest);

	@include breakpoint($bp-small-2) {
		@include span(4 of 12 nest);
	}

	@include breakpoint($bp-large) {
		@include span(3 of 12 nest);
	}

	@include breakpoint($bp-xl) {
		@include span(2 of 12 nest);
	}
}

.main, .pagenav{
	@include span(full nest);
}

.pagenav{
	margin-top: rhythm(3);
	margin-bottom: rhythm(3);

	@include breakpoint($bp-med) {
		margin-top: rhythm(6);
		margin-bottom: rhythm(6);
	}
}
