/*------------------------------------*\
	$LAYOUT
\*------------------------------------*/

.page{
	@include container(90%);

	@include breakpoint($bp-large) {
		@include container(85%);
	}

	@include breakpoint($bp-xl) {
		@include container(80%);
	}
}

.about-us{

	.article-content{
		@include breakpoint($bp-med) {
			@include span(7 of 12);
		}
	}

	.clients{
		@include span(12 of 12);
		margin-bottom: rhythm(2);

		h3{
			margin-top: 0;
			@extend h5;
		}

		.owl-item{
			padding: 0 2em;
			@include breakpoint($bp-med) {
				padding: 0 3em;
			}
		}
	}
}

.contact, .confirm{

	form{
		background: $blue;
		padding: $pad;
		@include clearfix;

		label{
			color: $white;
			text-align: left;
			@extend h4;
			margin: 0;
		}

		.ss-q-title, input[type=text]{
			display: inline-block;
		    vertical-align: baseline;
		    padding-top: $pad-half;
		    margin: $pad-half 0;
		}

		.ss-q-title{
			@include breakpoint($bp-large) {
				@include span(4 of 12 break);

				&.long-title{
					@include span(full break);
				}
			}
		}

		input[type=text]{
			@include breakpoint($bp-large) {
				@include span(8 of 12);
			}
		}

		input, textarea{
			border: 0;
		}

		input[type=submit]{
			color: $white;
			background: $plum;
			@include span(full);
			margin-top: $pad-half;

			@include breakpoint($bp-large) {
				@include span(3 of 12 rtl);
			}
		}
	}

	.article-content{
		@include breakpoint($bp-med) {
			@include span(7 of 12 break);
		}
	}

	h2.org{
		margin-top: 0;
	}
}

.sticky-wrapper{
	margin-bottom: rhythm(4);
}

.stuck{
	@include breakpoint($bp-large) {
		position: fixed;
		top: 100px;
	}
}
