/*------------------------------------*\
	$LAYOUT
\*------------------------------------*/

.page{
	@include container(90%);

	@include breakpoint($bp-large) {
		@include container(85%);
	}

	@include breakpoint($bp-xl) {
		@include container(80%);
	}
}

.main, .pagenav{
	@include span(full nest);
}


.main{
	animation: fadein 1s;
    -moz-animation: fadein 1s; /* Firefox */
    -webkit-animation: fadein 1s; /* Safari and Chrome */
    -o-animation: fadein 1s; /* Opera */
}

@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-moz-keyframes fadein { /* Firefox */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-webkit-keyframes fadein { /* Safari and Chrome */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-o-keyframes fadein { /* Opera */
    from {
        opacity:0;
    }
    to {
        opacity: 1;
    }
}

.pagenav{
	margin-top: rhythm(3);
	margin-bottom: rhythm(3);

	@include breakpoint($bp-med) {
		margin-top: rhythm(6);
		margin-bottom: rhythm(6);
	}
}

.index h1 {
	@include adjust-font-size-to($h3-fz);
	margin: rhythm(2, $h3-fz) 0 rhythm(4, $h3-fz) 0; // 1 line above 2 line below
	text-align: center;

	@include breakpoint($bp-small) {
		@include adjust-font-size-to($h2-fz);
		margin: rhythm(4, $h2-fz) 0 rhythm(8, $h2-fz) 0; // 1 line above 2 line below
	}

	@include breakpoint($bp-med-2) {
		@include adjust-font-size-to($h1-fz);
		margin: rhythm(4, $h1-fz) 0 rhythm(8, $h1-fz) 0; // 1 line above 2 line below
	}
}

.article-meta{

	@include span(full);

	@include breakpoint($bp-med-2) {
		@include span(4 of 12 rtl);
		@include pre(1);
	}

	.intro{
		@extend .titling;
	}
}

.article-header{
	@include span(full);
}

.article-content{
	@include span(full);

	@include breakpoint($bp-med-2) {
		@include span(7 of 12 rtl);
	}
}

.site-footer{
	text-align: center;
	@include span(full);
}

.about-us{

	.article-content{
		@include breakpoint($bp-med) {
			@include span(7 of 12);
		}
	}

	.clients{
		h3{
			margin-top: 0;
			@extend h5;
		}

		.grid-item{
			@include span(6 of 12 nest);

			@include breakpoint($bp-small-2) {
				@include span(4 of 12 nest);
			}

			@include breakpoint($bp-med-2) {
				@include span(50% of 5 nest);
			}

			@include breakpoint($bp-xxl) {
				@include span(33.33% of 5 nest);
			}
		}
	}
}

.contact, .confirm{

	form{
		background: $blue;
		padding: $pad;
		@include clearfix;

		label{
			color: $white;
			text-align: left;
			@extend h4;
			margin: 0;
		}

		.ss-q-title, input[type=text]{
			display: inline-block;
		    vertical-align: baseline;
		    padding-top: $pad-half;
		    margin: $pad-half 0;
		}

		.ss-q-title{
			@include breakpoint($bp-large) {
				@include span(4 of 12 break);

				&.long-title{
					@include span(full break);
				}
			}
		}

		input[type=text]{
			@include breakpoint($bp-large) {
				@include span(8 of 12);
			}
		}

		input, textarea{
			border: 0;
		}

		input[type=submit]{
			color: $white;
			background: $plum;
			@include span(full);
			margin-top: $pad-half;

			@include breakpoint($bp-large) {
				@include span(3 of 12 rtl);
			}
		}
	}

	.article-content{
		@include breakpoint($bp-med) {
			@include span(7 of 12 break);
		}
	}

	h2.org{
		margin-top: 0;
	}
}

.stuck{
	@include breakpoint($bp-large) {
		position: fixed;
		top: 100px;
	}
}
