/*------------------------------------*\
    $NAVIGATION
\*------------------------------------*/

.nav{
	clear: both;
	overflow: hidden;
	max-height: 0;

	a {
		display: block;
		padding: $pad;
		border-top: 1px solid $gray-light-2;
	}

	&.active {
		max-height: 40em;
	}

	@include at-breakpoint($bp-large 12) {
		max-height: none;
		padding-bottom: $pad;

		li {
			//float: left;
		}

		a {
			padding: $pad-half 0;
			border: 0;
		}

	}
}

.contact {
	@extend .nav;
	text-align: center;
	border-top: 1px solid $gray-light-2;
  -webkit-transition: max-height 1s ease-in-out;
     -moz-transition: max-height 1s ease-in-out;
       -o-transition: max-height 1s ease-in-out;
          transition: max-height 1s ease-in-out;

	.adr{
		display: block;
		padding-top:$pad;
	}

	a{
		border: none;
		padding: none;
	}

	@include at-breakpoint($bp-large 12) {
		text-align: left;
	}
}

.nav-article-footer{
	text-align: center;
	@extend .beta;
}

//Pagination
.pagination {
	overflow: hidden;

	li {
		float: left;
		border-right: 1px solid $gray-light-2;

		&:last-child {
			border: 0;
		}
	}

	a {
		padding: $pad;
	}
}
