<div class="pagenav">
	<!-- Begin .header -->
	<header class="header cf" role="banner">
		<a href="/"><%= image_tag 'logo.png', :alt => 'Hikkendry', :class => 'logo' %></a>
		<a href="/" class="home-link icon-home"><span class="is-vishidden">Home</span></a>
		<a href="#nav" class="contact-toggle contact-toggle-menu icon-envelope"><span class="is-vishidden">Contact</span></a>
		
		<div class="vcard contact dropdown">
			<div class="org">Hikkendry</div>
			<div class="adr">
				<div class="street-address">Studio 1.8<br />10-14 Rockwell House</div>
				<span class="locality">London</span><br />
				<span class="postal-code">EC2A 3NN</span>
			</div>
			<a class="email" href="mailto:studio@hikkendry.com">studio@hikkendry.com</a>
		</div>
	</header>
	<!-- End .header -->
</div>
	