<% wrap_layout :layout do %>
<article class="article">
	<header class="article-header">
		<h1><%= data.page.title %></h1>
	</header>
	<div class="article-meta">
		
	</div>
	<div class="content">
		<%= yield %>
		<div class="nav-article-footer">
			<a href="/" class="icon-home"><span class="is-vishidden">Home</span></a>
		</div>
	</div>
</article>
<% end %>