//
// Headings
//

// Further Reading: http:/csswizardry.com/2012/02/pragmatic-practical-font-sizing-in-css/
// https://github.com/byBrick/byType
// http://atendesigngroup.com/blog/vertical-rhythm-compass

h1,
h2,
h3,
h4,
h5,
.titling {
	font-family: $font-titling;
	font-weight: normal;
	text-transform: uppercase;
	letter-spacing: 0.15em;
}

h1,
.alpha {
	@include adjust-font-size-to($h2-fz);
	margin: rhythm(4, $h2-fz) 0 rhythm(2, $h2-fz) 0; // 2 line above 1 line below

	@include breakpoint($bp-med) {
		@include adjust-font-size-to($h1-fz);
		margin: rhythm(8, $h1-fz) 0 rhythm(4, $h1-fz) 0; // 2 line above 1 line below
	}
}

h2,
.beta {
	@include adjust-font-size-to($h3-fz);
	margin: rhythm(2, $h3-fz) 0 rhythm(2, $h3-fz) 0; // 2 line above 2 line below

	@include breakpoint($bp-med) {
		@include adjust-font-size-to($h2-fz);
		margin: rhythm(0, $h2-fz) 0 rhythm(2, $h2-fz) 0; // 2 line above 2 line below
	}
}

h3,
.gamma  {
	@include adjust-font-size-to($h4-fz);
	margin: rhythm(4, $h4-fz) 0 rhythm(4, $h4-fz) 0; // 1 line below

	@include breakpoint($bp-med) {
		@include adjust-font-size-to($h3-fz);
		margin: rhythm(4, $h3-fz) 0 rhythm(2, $h3-fz) 0; // 2 line above 2 line below
	}
}

h4,
.delta {
	@include adjust-font-size-to($h4-fz);
	margin: 0 0 rhythm(4, $h4-fz) 0; // 1 line below
}

h5,
.epsilon {
	@include adjust-font-size-to($h5-fz);
	margin: 0 0 rhythm(4, $h5-fz) 0; // 1 line below
}

h6,
.zeta {
	@include adjust-font-size-to($h6-fz);
	margin: 0 0 rhythm(4, $h6-fz) 0; // 1 line below
}

.giga {
	@include adjust-font-size-to(66px);
    margin: rhythm(4, 66px) 0 rhythm(4, 66px) 0; // 1 line above 1 line below
}

.mega {
	@include adjust-font-size-to(56px);
    margin: rhythm(4, 56px) 0 rhythm(4, 56px) 0; // 1 line above 1 line below
}

.kilo {
	@include adjust-font-size-to(46px);
    margin: rhythm(4, 46px) 0 rhythm(4, 46px) 0; // 1 line above 1 line below
}

.small {
	@include adjust-font-size-to(14px);
	margin: 0 0 rhythm(3, 14px) 0; // 1 line below
}

.milli {
	@include adjust-font-size-to(10px);
	margin: 0 0 rhythm(3, 10px) 0; // 1 line below
}

.headline{
	color: $gray;
}

.subheading {
	font-family: $font-secondary;
	font-weight: normal;
}
