//
// Headings
//

// Further Reading: http:/csswizardry.com/2012/02/pragmatic-practical-font-sizing-in-css/
// https://github.com/byBrick/byType
// http://atendesigngroup.com/blog/vertical-rhythm-compass

h1,
h2,
h3 {
	font-family: $font-titling;
	font-weight: normal;
	text-transform: uppercase;
	letter-spacing: $pad-quarter;
}

h1,
.alpha {
	@include adjust-font-size-to(36px);
	margin: rhythm(3, 36px) 0 rhythm(3, 36px) 0; // 3 line above 3 line below
}

h2,
.beta {
	@include adjust-font-size-to(30px);
	margin: rhythm(3, 30px) 0 rhythm(3, 30px) 0; // 3 line above 3 line below
}

h3,
.gamma  {
	@include adjust-font-size-to(22px);
	margin: rhythm(3, 22px) 0 rhythm(3, 22px) 0; // 3 line above 3 line below
}

h4,
.delta {
	@include adjust-font-size-to(20px);
	margin: 0 0 rhythm(3, 20px) 0; // 1 line below
}

h5,
.epsilon {
	@include adjust-font-size-to(18px);
	margin: 0 0 rhythm(3, 18px) 0; // 1 line below
}

h6,
.zeta {
	@include adjust-font-size-to(16px);
	margin: 0 0 rhythm(3, 16px) 0; // 1 line below
}

.giga {
	@include adjust-font-size-to(66px);
    margin: rhythm(3, 66px) 0 rhythm(3, 66px) 0; // 3 line above 3 line below
}

.mega {
	@include adjust-font-size-to(56px);
    margin: rhythm(3, 56px) 0 rhythm(3, 56px) 0; // 3 line above 3 line below
}

.kilo {
	@include adjust-font-size-to(46px);
    margin: rhythm(3, 46px) 0 rhythm(3, 46px) 0; // 3 line above 3 line below
}

.small {
	@include adjust-font-size-to(14px);
	margin: 0 0 rhythm(3, 14px) 0; // 1 line below
}

.milli {
	@include adjust-font-size-to(10px);
	margin: 0 0 rhythm(3, 10px) 0; // 1 line below
}

.headline{
	color: $gray;
}

.subheading {
	font-family: $font-secondary;
	font-weight: normal;
}
